* {
    font-size: 1.1rem;
}

h1 {
    font-size: 2em;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    grid-template-rows: 700px auto;
  }

#map {
    grid-column: 1;
    grid-row: 1;
}

#series {
    grid-column: 2;
    grid-row: 1;
}

#calendar {
    grid-column: 2;
    grid-row: 2;
}

.hoverable:hover {
    cursor: pointer;
    opacity: 0.5 !important;
}